body {
    background-color: #1693a5;
    color: black;
}

h1 {
    color: white;
    text-align: center;
    background-color: black;
    font-size: 35px;
    font-style: italic;
}

.center {
    text-align: center;
}

.botaoinsta {
    text-align: center;
    border-radius: 10px;
    background-color: #de1a72;
    color: pink;
    border: 1.9px solid #7a2f95;
}

.textinsta {
    text-decoration: none;
    color: whitesmoke;
    font-size: medium;
    font-family: 'Ubuntu', sans-serif;
}

.botaolinkedin {
    border-radius: 10px;
    border: 1.9px solid black;
    background-color: blue;
    color: white;
}

.textlinkedin {
    text-decoration: none;
    color: white;
    font-size: medium;
    font-family: 'Ubuntu', sans-serif;
}

.botaowhats {
    border-radius: 10px;
    border: 1.9px solid black;
    background-color: rgb(31, 205, 118);
    color: white;
}

.textwhats {
    text-decoration: none;
    color: white;
    font-size: medium;
    font-family: 'Ubuntu', sans-serif;
}

.botaogithub {
    border-radius: 10px;
    border: 1.7px solid white;
    background-color: black;
    color: white;
}


.textgithub {
    text-decoration: none;
    color: white;
    font-size: medium;
    font-family: 'Ubuntu', sans-serif;

}

.textcurriculo {
    font-family: 'Bitter', serif;

}

.titulo {
    font-family: 'Six Caps', sans-serif;
    font-size: 40px;



}

h2 {
    color: white;
    text-align: center;
    background-color: black;
    font-size: 40px;
    font-family: 'Big Shoulders Display', cursive;
    font-style: italic;
}
